@charset "UTF-8";
/* IMPORTS */
/* CATALOGO */
.catalogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-area: catalogo;
  background-color: #faf6f6;
}

.catalogo h2 {
  text-align: center;
  margin: 5rem 0 0 0;
}

.catalogo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalogo__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 250px;
  max-width: 300px;
  height: auto;
  margin: 3rem 6rem;
  -webkit-box-shadow: 20px 20px 40px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 20px 40px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  cursor: default;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.catalogo__card:hover {
  -webkit-box-shadow: 20px 20px 40px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 20px 20px 40px 10px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

.catalogo__card img {
  width: 300px;
  height: auto;
}

.card__contenido {
  padding: 1rem;
}

.card__contenido h4 {
  font-weight: 400;
  margin-bottom: 1rem;
}

.card__contenido p {
  color: #6a6a6a;
  line-height: 1.5;
}

.catalogo__btn {
  display: inline-block;
  width: 10rem;
  height: 3.5rem;
  padding: 1rem 3rem;
  background-color: #0f0e0e;
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0 4rem 0;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.catalogo__btn:hover {
  -webkit-transform: translateX(1%);
          transform: translateX(1%);
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.catalogo__btn a {
  color: #faf6f6;
  text-decoration: none;
}

.experiencias {
  background-color: #faf6f6;
}

.titulosRes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 2rem 1rem 2rem;
  font-size: 1.5rem;
}

.titulosRes .titulosRes__text {
  text-align: center;
  color: #0f0e0e;
}

.reseñas {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 0;
}

.reseñas .reseñas__card {
  width: 20rem;
  border-radius: 10%;
  -webkit-box-shadow: .3rem .3rem 1rem #666565;
          box-shadow: .3rem .3rem 1rem #666565;
  background-color: #0f0e0e;
}

.reseñas .reseñas__card .card__cliente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reseñas .reseñas__card .card__cliente img {
  width: 8rem;
  height: auto;
  border-radius: 50%;
  margin: 1rem;
}

.reseñas .reseñas__card .card__cliente h3 {
  font-size: 1.3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #faf6f6;
  margin: 1rem;
}

.reseñas .reseñas__card .card__cliente p {
  margin: 1rem;
  color: #faf6f6;
}

.reseñas .reseñas__card .card__experiencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reseñas .reseñas__card .card__experiencia p {
  text-align: center;
  width: 15rem;
  color: #888484;
  margin: 1rem;
}

.boton__reseñas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7rem;
  height: 3rem;
  background-color: #0f0e0e;
  border-radius: .5rem;
  margin: 1rem 0 4rem 0;
}

.boton__reseñas a {
  text-decoration: none;
  color: #faf6f6;
}

/* CONTACTO */
.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 1rem;
}

.form label {
  color: #faf6f6;
}

.form__input {
  display: block;
  width: 20rem;
  height: 2.5rem;
  color: #faf6f6;
  border-radius: 5px;
  background-color: #c4c4c400;
  border: solid 1px #faf6f6;
}

.form__btn {
  width: 49.2%;
  height: 2.5rem;
  margin-top: 2rem;
  border-radius: 5px;
  background-color: #faf6f6;
  color: #0f0e0e;
  border: solid 1px #faf6f6;
}

.form__btn2 {
  width: 49.2%;
  height: 2.5rem;
  margin-top: 2rem;
  border-radius: 5px;
  background-color: #faf6f6;
  color: #0f0e0e;
  border: solid 1px #faf6f6;
}

/* HOME */
.navbar-toggler-icon .navbar-toggler {
  color: #0f0e0e;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../assets/Header-M.jpg);
}

.nav {
  background: rgba(128, 255, 0, 0);
}

.titulo-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 12rem;
  text-align: center;
  padding: 1rem;
}

.titulo-principal h1 {
  color: #faf6f6;
  line-height: 2.3rem;
}

.boton {
  display: inline-block;
  width: 7rem;
  padding: .7rem;
  background-color: #faf6f6;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: .5rem;
  margin-top: 4rem;
}

.titulo-principal a {
  text-decoration: none;
  color: #0f0e0e;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 1rem;
  padding: 1rem;
}

.arrow svg {
  width: 2rem;
  height: auto;
  color: #faf6f6;
  position: relative;
}

.arrow a {
  width: 2rem;
  height: 2rem;
  position: absolute;
}

/* CARRUSEL */
/* FOOTER */
.footer {
  background-color: #0f0e0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  /* redes */
  /* contacto */
  /* textos */
}

.footer h5 {
  color: #faf6f6;
  text-align: center;
}

.footer .footer__redes--iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  width: 100%;
}

.footer .footer__redes--iconos .icono {
  margin: 0 1.5rem;
}

.footer .footer__redes--iconos .icono svg {
  color: #faf6f6;
}

.footer .footer__contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-top: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__contacto label {
  color: #faf6f6;
  padding-top: 5px;
}

.footer .footer__contacto .footer__contacto--input {
  border-radius: .4rem;
}

.footer .footer__contacto .footer__contacto--btn {
  padding: .2rem .6rem;
  border-radius: .4rem;
}

.footer .footer__textos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__textos p {
  color: #faf6f6;
  height: 2rem;
}

.footer .footer__textos .footer__textos--arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .footer__textos .footer__textos--arrow svg {
  width: 2rem;
  height: 2rem;
  color: #faf6f6;
  position: relative;
}

.footer .footer__textos .footer__textos--arrow a {
  width: 2rem;
  height: 2rem;
  position: absolute;
}

/* RESOLUCION DESKTOP */
@media screen and (min-width: 1200px) {
  .landing-page {
    background-image: url(../assets/header-fiat-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .navbar {
    margin-top: 2rem;
    margin-left: 8.7rem;
  }
  .navbar a {
    text-transform: uppercase;
  }
  .titulo-principal .boton {
    margin-top: 5.5rem;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .titulo-principal .boton a {
    text-transform: uppercase;
    font-size: .9rem;
  }
  .titulo-principal .boton:hover {
    cursor: pointer;
    background-color: #eee8e8;
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  .titulo-principal .boton:hover a {
    text-decoration: none;
    color: #0f0e0e;
  }
  .arrow {
    margin-right: 8.7rem;
  }
  /* carrusel */
  .img-carousel {
    height: 45rem;
    width: auto;
  }
  /* FOOTER */
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "redes contacto" "textos textos";
  }
  .footer .footer__redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: redes;
    padding: 1rem;
  }
  .footer .footer__redes h5 {
    display: block;
    padding: 0 5rem;
    font-size: 1rem;
    margin-top: .5rem;
    padding: 0 3rem;
  }
  .footer .footer__contacto {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: contacto;
    padding: 0 2rem;
    margin-top: .5rem;
  }
  .footer .footer__contacto .footer__contacto--input {
    margin: 0 1rem;
  }
  .footer .footer__textos {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: textos;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .footer__textos p {
    display: block;
    padding-left: 20rem;
  }
}

/* QUIENES SOMOS */
/* HEADER */
.header {
  background-color: #0f0e0e;
}

.header .navbar-light .navbar-toggler {
  color: white;
  border-color: white;
  background-color: #faf6f6;
  padding: .3rem .8rem;
  border-radius: .2rem;
}

.header .hamburguer {
  color: #faf6f6;
}

/* QUIENES SOMOS */
.wwa {
  height: auto;
  padding-bottom: 2rem;
  background-color: #faf6f6;
}

.wwa .wwa__quienes-somos {
  text-align: center;
  padding: 1rem;
}

.wwa .wwa__quienes-somos .wwa__quienes-somos--titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.wwa .wwa__ubicacion {
  padding: 0 1rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wwa .wwa__ubicacion .wwa__ubicacion--titulo {
  text-align: center;
  padding-bottom: 2rem;
}

.wwa .wwa__ubicacion .wwa__ubicacion--mapa {
  height: 29rem;
  width: 80%;
  margin: auto;
}

.wwa .wwa__ubicacion .wwa__ubicacion--mapa iframe {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem rgba(59, 58, 58, 0.1);
          box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem rgba(59, 58, 58, 0.1);
}

/* RESOLUCION DEKSTOP */
/* PAGINA 404 */
body {
  background-color: #888484;
}

.contenedor__404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ventana-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
  height: 20rem;
  padding: 3rem;
  margin: 10rem 0;
  background-color: #faf6f6;
  border-radius: 1rem;
}

.ventana-error p {
  text-align: center;
}

.ventana-error .boton__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 7rem;
  height: 3rem;
  background-color: #0f0e0e;
  border-radius: .5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.ventana-error .boton__home a {
  text-decoration: none;
  color: #faf6f6;
}

.ventana-error .boton__home:hover {
  background-color: #1d1d1c;
  cursor: pointer;
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}
/*# sourceMappingURL=estilos.css.map */