/* CONTACTO */
.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem 1rem;
    background-color: $secondary;
    padding: 3rem 0;

    .form__img{
        margin: 3rem;
    }
}

.form label {
    color: $primary;
}

.form__input {
    display: block;
    width: 20rem;
    height: 2.5rem;
    color: $primary;
    border-radius: 5px;
    background-color: #c4c4c400;
    border: solid 1px $primary;

}

.form__btn {
    width: 49.2%;
    height: 2.5rem;
    margin-top: 2rem;
    border-radius: 5px;
    background-color: $primary;
    color: $secondary;
    border: solid 1px $primary;

}

.form__btn2 {
    width: 49.2%;
    height: 2.5rem;
    margin-top: 2rem;
    border-radius: 5px;
    background-color: $primary;
    color: $secondary;
    border: solid 1px $primary;
}

/* Dekstop */
@media screen and (min-width: 1200px) {
    .navbar {
        margin-top: 2rem;
        margin-left: 8.7rem;

        a {
            text-transform: uppercase;
        }
    }
    .form__img{
        padding-top: 4rem;
    }

    /* FOOTER */
    .footer {
        display: grid;
        grid-template-columns: repeat(2 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "redes contacto"
            "textos textos";


        .footer__redes {
            display: flex;
            justify-content: center;
            grid-area: redes;
            padding: 1rem;

            h5 {
                display: block;
                padding: 0 5rem;
                font-size: 1rem;
                margin-top: .5rem;
                padding: 0 3rem;
            }
        }

        .footer__contacto {
            grid-area: contacto;
            padding: 0 2rem;
            margin-top: .5rem;

            .footer__contacto--input {
                margin: 0 1rem;
            }
        }

        .footer__textos {
            grid-area: textos;
            display: flex;
            justify-content: space-between;

            p {
                display: block;
                padding-left: 20rem;
            }

        }
    }
}