/* HOME */
.navbar-toggler-icon {
    .navbar-toggler {
        color: #0f0e0e;
    }

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing-page {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../assets/Header-M.jpg);
}

.nav {
    background: rgba(128, 255, 0, 0);
}

.titulo-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12rem;
    text-align: center;
    padding: 1rem;
}

.titulo-principal h1 {
    color: #faf6f6;
    line-height: 2.3rem;
}

.boton {
    display: inline-block;
    width: 7rem;
    padding: .7rem;
    background-color: $secondary;
    text-align: center;
    align-self: center;
    border-radius: .5rem;
    margin-top: 4rem;
}

.titulo-principal a {
    text-decoration: none;
    color: $primary;
}

.arrow {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    padding: 1rem;

    svg {
        width: 2rem;
        height: auto;
        color: #faf6f6;
        position: relative;
    }

    a {
        width: 2rem;
        height: 2rem;
        position: absolute;
    }
}


/* CARRUSEL */




/* FOOTER */
.footer {
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    /* redes */
    h5 {
        color: $secondary;
        text-align: center;
    }

    .footer__redes--iconos {
        display: flex;
        padding: 1rem;
        width: 100%;

        .icono {
            margin: 0 1.5rem;

            svg {
                color: $secondary;
            }
        }
    }

    /* contacto */
    .footer__contacto {
        display: flex;
        width: 90%;
        margin-top: 1rem;
        justify-content: space-between;


        label {
            color: $secondary;
            padding-top: 5px;

        }

        .footer__contacto--input {
            border-radius: .4rem;
        }

        .footer__contacto--btn {
            padding: .2rem .6rem;
            border-radius: .4rem;
        }
    }

    /* textos */
    .footer__textos {
        display: flex;
        width: 100%;
        padding-top: 2rem;
        justify-content: center;

        p {
            color: $secondary;
            height: 2rem;

        }

        .footer__textos--arrow {
            display: flex;
            justify-content: flex-end;


            svg {
                width: 2rem;
                height: 2rem;
                color: #faf6f6;
                position: relative;
            }

            a {
                width: 2rem;
                height: 2rem;
                position: absolute;
            }
        }
    }
}